<header class="flex justify-between bg-white border-b-[1px] border-stone-400 items-center h-[55px]">
    <div class="">
        <a href="/" class="flex items-center justify-center pl-4">
            <img src="/dist/logos.png" class="inline-block h-[35px]">
            <span class="ml-2 text-lg font-bold text-sky-500">Sapietia</span>
        </a>
    </div>
    <div class="pr-4">
        <a href="/p/new" class="justify-center bg-white box border-sky-400 inline-block px-[12px] py-[6px] text-sky-700 appearance-none cursor-pointer hover:bg-sky-400 hover:text-white transition ease-out duration-300 delay-150 hover:delay-0 mb-0">สร้างโพสต์ใหม่</a>
    </div>
</header>