<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพสต์ใหม่ | ' }}
<body>
    {{> sideHeader }}
    <section class="section">
        <div class="container-box">
            <h2 class="text-2xl font-bold">สร้างโพสต์สำเร็จ</h2>
            <p>โพสต์จะปรากฏหน้าแรก คุณสามารถกลับไปเปิดดู และคอมเม้นท์พูดคุยกับเพื่อนๆได้</p>
            <a class="bg-white box border-sky-400 inline-block px-[12px] py-[6px] text-sky-700 appearance-none cursor-pointer hover:bg-sky-400 hover:text-white transition ease-out duration-300 delay-150 hover:delay-0" href="/">กลับหน้าแรก</a>
        </div>
    </section>
    {{> sideFooter }}
</body>
</html>